<%- include('../partials/html-head') %>
<title><%= title %></title>

<main>
    <img class="animate__animated animate__heartBeat" id='logo' src='https://i.imgur.com/nj8Wsml.png' alt="logo"/>
    <%- include('../partials/nav') %>
  
</main>


<%- include('../partials/footer') %>