<%- include('../partials/html-head') %>
<title><%= title %></title>

<main>
    <img class="animate__animated animate__heartBeat" id='logo' src='https://i.imgur.com/nj8Wsml.png' alt="logo"/>
    <%- include('../partials/nav') %>
    <h3 class="title">Interested in any of these items or would you like to place a custom order?</h3>
    <h3 type="email" class="title">Feel free to contact me at: <a href="mailto:katielea0811@gmail.com">katielea0811@gmail.com</a></h3>
    <h3 class="title">Also, check out my Facebook and Etsy!!</h3>
    <a href="https://www.facebook.com/KatieRayneCreations/">
        <img id="social-icon" src="https://i.imgur.com/tDvVdPq.png" alt="facebook-logo">
    </a>
    <a href="https://www.etsy.com/shop/KatieRayneCreations">
        <img id="social-icon" src="https://i.imgur.com/yqwcj2z.png" alt="etsy-logo">
    </a>
</main>


<%- include('../partials/footer') %>