
  <nav>
    <% if (!user) { %>
      <link rel="stylesheet" href="/stylesheets/siwg.css">
    <% } %>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>

    <a href="/" class="nav-item">HomePage</a>
    <a href="/items" class="nav-item">All items</a>
    <a href="/items/new" class="nav-item">Add Item</a>
    <a href="/items/clothes" class="nav-item">Clothes</a>
    <a href="/items/tumblers" class="nav-item">Tumblers</a>
    <a href="/items/misc" class="nav-item">Misc. Crafts</a>


  </nav>
