<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <title>HomePage</title>
  <h1>Welcome <%= user ? user.profile.name : "" %>!</h1>
  <h1>Katie Rayne Creations</h1>
 
</main>

<%- include('./partials/footer') %>
