<%- include('./partials/html-head') %>
<main>
  <img id='logo' src='https://i.imgur.com/nj8Wsml.png' alt="logo"/>
  <%- include('./partials/nav') %>
  <title>HomePage</title>
  <h1>Welcome <%= user ? user.profile.name : "" %>!</h1>
  <h1>Katie Rayne Creations</h1>
 
</main>

<%- include('./partials/footer') %>
