<%- include('../partials/html-head') %>
<title><%= title %></title>

<main>
    <img id='logo' src='https://i.imgur.com/nj8Wsml.png' alt="logo"/>
    <%- include('../partials/nav') %>
    <h1>Add Item</h1>
    <form id="add-form" action="/items" method="POST">
    <label class="form-label">Title:
        <input class="form-control" type="string" name="title">
    </label><br>
    <label class="form-label">imageUrl:
        <input class="form-control" type="string" name="imageUrl">
    </label><br>
    <label class="form-label">Type:
        <select name="type">
        <option value="clothing">Clothing</option>
        <option value="tumbler">Tumbler</option>
        <option value="misc">Misc.</option>
    </select>
    </label><br>
    <label class="form-label">Price:
        <input class="form-control" type="number" name="price">
    </label><br>
    <label class="form-label">Info:
        <input class="form-control" type="text" name="info">
    </label><br>
    <button type="submit" class='btn btn-success'>Add Item</button>
    </form>
</main>

<%- include('../partials/footer') %>