<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <form action="/items" method="POST">
    <label>Title:
        <input type="string" name="title">
    </label><br>
    <label>imageUrl:
        <input type="string" name="imageUrl">
    </label>
    <label>Type:
        <input type="string" name="type">
    </label>
    <label>Price:
        <input type="number" name="price">
    </label>
    <button type="submit">Add Item</button>
    </form>
</main>

<%- include('../partials/footer') %>